<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Company_start_job_posting</display-name>
    <servlet-name>Company_start_job_posting</servlet-name>
    <servlet-class>com.jobmarket.hired.controller.Company_start_job_posting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Company_start_job_posting</servlet-name>
    <url-pattern>/Company_start_job_posting</url-pattern>
  </servlet-mapping>
  <display-name>A_aa</display-name>
  <servlet>
    <description></description>
    <display-name>Sign_up_company_insert</display-name>
    <servlet-name>Sign_up_company_insert</servlet-name>
    <servlet-class>com.jobmarket.company.controller.Sign_up_company_insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sign_up_company_insert</servlet-name>
    <url-pattern>/Sign_up_company_insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sign_up_employee_insert</display-name>
    <servlet-name>Sign_up_employee_insert</servlet-name>
    <servlet-class>com.jobmarket.client.controller.Sign_up_employee_insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sign_up_employee_insert</servlet-name>
    <url-pattern>/Sign_up_employee_insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sign_in_employee_verification</display-name>
    <servlet-name>Sign_in_employee_verification</servlet-name>
    <servlet-class>com.jobmarket.client.controller.Sign_in_employee_verification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sign_in_employee_verification</servlet-name>
    <url-pattern>/Sign_in_employee_verification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee_log_out</display-name>
    <servlet-name>Employee_log_out</servlet-name>
    <servlet-class>com.jobmarket.client.controller.Employee_log_out</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_log_out</servlet-name>
    <url-pattern>/Employee_log_out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sign_in_company_verification</display-name>
    <servlet-name>Sign_in_company_verification</servlet-name>
    <servlet-class>com.jobmarket.company.controller.Sign_in_company_verification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sign_in_company_verification</servlet-name>
    <url-pattern>/Sign_in_company_verification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Job_posting</display-name>
    <servlet-name>Job_posting</servlet-name>
    <servlet-class>com.jobmarket.company.controller.Job_posting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Job_posting</servlet-name>
    <url-pattern>/Job_posting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display_company_posted_job</display-name>
    <servlet-name>Display_company_posted_job</servlet-name>
    <servlet-class>com.jobmarket.company.controller.Display_company_posted_job</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display_company_posted_job</servlet-name>
    <url-pattern>/Display_company_posted_job</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Company_log_out</display-name>
    <servlet-name>Company_log_out</servlet-name>
    <servlet-class>com.jobmarket.company.controller.Company_log_out</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Company_log_out</servlet-name>
    <url-pattern>/Company_log_out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee_homepage</display-name>
    <servlet-name>Employee_homepage</servlet-name>
    <servlet-class>com.jobmarket.client.controller.Employee_homepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_homepage</servlet-name>
    <url-pattern>/Employee_homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee_selected_job</display-name>
    <servlet-name>Employee_selected_job</servlet-name>
    <servlet-class>com.jobmarket.client.controller.Employee_selected_job</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_selected_job</servlet-name>
    <url-pattern>/Employee_selected_job</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee_account_settings</display-name>
    <servlet-name>Employee_account_settings</servlet-name>
    <servlet-class>com.jobmarket.client.controller.Employee_account_settings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_account_settings</servlet-name>
    <url-pattern>/Employee_account_settings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee_delete_account</display-name>
    <servlet-name>Employee_delete_account</servlet-name>
    <servlet-class>com.jobmarket.client.controller.Employee_delete_account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_delete_account</servlet-name>
    <url-pattern>/Employee_delete_account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee_update_account</display-name>
    <servlet-name>Employee_update_account</servlet-name>
    <servlet-class>com.jobmarket.client.controller.Employee_update_account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_update_account</servlet-name>
    <url-pattern>/Employee_update_account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display_country_employee</display-name>
    <servlet-name>Display_country_employee</servlet-name>
    <servlet-class>com.jobmarket.hired.controller.Employee_sign_up_loader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display_country_employee</servlet-name>
    <url-pattern>/Display_country_employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display_country_company</display-name>
    <servlet-name>Display_country_company</servlet-name>
    <servlet-class>com.jobmarket.hired.controller.Company_sign_up_loader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display_country_company</servlet-name>
    <url-pattern>/Display_country_company</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee_save_job_servlet</display-name>
    <servlet-name>Employee_save_job_servlet</servlet-name>
    <servlet-class>com.jobmarket.client.controller.Employee_save_job_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_save_job_servlet</servlet-name>
    <url-pattern>/Employee_save_job_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display_saved_job</display-name>
    <servlet-name>Display_saved_job</servlet-name>
    <servlet-class>com.jobmarket.client.controller.Display_saved_job</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display_saved_job</servlet-name>
    <url-pattern>/Display_saved_job</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee_apply_job_servlet</display-name>
    <servlet-name>Employee_apply_job_servlet</servlet-name>
    <servlet-class>com.jobmarket.client.controller.Employee_apply_job_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee_apply_job_servlet</servlet-name>
    <url-pattern>/Employee_apply_job_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload_cv</display-name>
    <servlet-name>Upload_cv</servlet-name>
    <servlet-class>com.jobmarket.client.controller.Upload_cv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload_cv</servlet-name>
    <url-pattern>/Upload_cv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Resources_for_employee_apply_job_jsp</display-name>
    <servlet-name>Resources_for_employee_apply_job_jsp</servlet-name>
    <servlet-class>com.jobmarket.client.controller.Resources_for_employee_apply_job_jsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resources_for_employee_apply_job_jsp</servlet-name>
    <url-pattern>/Resources_for_employee_apply_job_jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display_job_applicant</display-name>
    <servlet-name>Display_job_applicant</servlet-name>
    <servlet-class>com.jobmarket.company.controller.Display_job_applicant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display_job_applicant</servlet-name>
    <url-pattern>/Display_job_applicant</url-pattern>
  </servlet-mapping>
</web-app>