@charset "ISO-8859-1";


:root{
	--job_header_height:154.8px;
	
}

body{
	min-width: 672px;
}

main{
	width:auto;
	padding:20px 20px 40px 20px;
}


/*  This is the main job container.*/
.job_box{
	box-sizing:border-box;
	width:70%;
	min-width:620px;
	margin:auto;
	
	
	
}

.job_header{
	box-sizing:border-box;
	padding:10px;		
	margin-bottom:40px;
	
	border-radius:10px;
	box-shadow:0 4px 12px rgba(0,0,0,0.15);
	
	
	
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size:18px;
	font-weight: 650;
	font-style: normal;
	letter-spacing: 0.2px;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

			.job_header .image{
				box-sizing:border-box;
				width:20%;
				min-width:150px;	
			}	
							.job_header img{
								width:150px;
							}


/*  DIV CLASS JOB HEADER TITLE*/	
			.job_header .title{
				box-sizing:border-box;
				width:50%;
				min-width:235px;
				height:var(--job_header_height);
				
				font-family: "Montserrat", sans-serif;
				font-optical-sizing: auto;
				font-size:18px;
				font-weight: 650;
				font-style: normal;
				letter-spacing: 0.2px;
				
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
			}
			
/*  DIV CLASS  BUTTONS*/			

			.job_header .buttons{
				box-sizing:border-box;
				width:30%;
				height:var(--job_header_height);
				min-width:210px;
				padding:2px;
				
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
			}
							.buttons button{
								width : 200px;
								height:40px;
								background-color: var(--main_color);
								color: var(--contrast_light);
								border-radius: 5px;
								cursor: pointer;
								margin-top:70px;
								
								font-family: "Montserrat", sans-serif;
							    font-optical-sizing: auto;
							    font-size:14px;
							    font-weight: 500;
							    font-style: normal;
							    letter-spacing: 0.2px;
							}
									/* This is apply for job button */	
										.buttons .apply{
										background-color:var(--contrast_dark);
										color:var(--main_light);
										box-shadow: none;
										}
										
											.buttons .apply:hover{
										background-color:var(--blue_dark);
										color:var(--main_light);
										}
							
										
									/* This is Save job button/link */	
										.buttons .save img{
											height:16px;
											width: 16px;
										} 
										.buttons .save a{
											color:var(--blue_dark);
											text-decoration: none;
										}
										
											.buttons .save a:hover{
												color:var(--contrast_dark);
										
										}

/* THIS IS THE BODY OF THE SELECTED JOB BOX DESCRIPTION ETC */
.job_body{
	box-sizing:border-box;
	padding:20px;
	width:100%;
	
	border-radius:10px;
		box-shadow:0 4px 12px rgba(0,0,0,0.15);
	
	
}

	.job_body .description{
		box-sizing:border-box;
		margin:20px 2px;
		padding: 5px 0px;
			}
		.description h3{
			padding: 5px 0px;
			font-family: "Montserrat", sans-serif;
		    font-optical-sizing: auto;
		    font-size:19px;
		    font-weight: 650;
		    font-style: normal;
					    letter-spacing: 0.2px;
		}
		


.job_body h5{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size:15px;
	font-weight: 600;
	font-style: normal;
}
		.job_body h5 img{
			margin-top:2px;
		}
		
			
		.job_body h5 a{
			text-decoration: none;
			color:black;
		}

		.job_body h5 a:hover{
			color:var(--main_color);
		}

.job_body p{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size:13px;
	font-weight: 500;
	font-style: normal;
	padding:0px 2px;
}

.job_body label{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size:15px;
	font-weight: 600;
	font-style: normal;
	padding:2px;
}