@charset "ISO-8859-1";

@charset "ISO-8859-1";
:root{
	--main_color : #007BFF;
	--main_light:#FFFFFF;
	
	--contrast_color: #FFC107;
	--contrast_light:#F1F1F1;
	--contrast_dark:#0056B3;
	
	
	--blue_dark:#495E7A;
	--warning_dark : #9C1027;
	--warning_light: #B83806;
	--warning_background:#FFCDD2;
	--success_background:#E0FEE0;
}




*{
	padding:0;
	margin:0;
}




main{
	min-height: 490px;
	background-color: var(--contrast_light);
	box-sizing: border-box;
	
}

header{
	box-sizing:border-box;
	height:50px;
	background-color: var(--contrast_dark);
	text-align: center;
	padding-top: 10px;
/* 	display:flex; */
/* 	flex-direction: row; */
/* 	justify-content: flex-start; */
/* 	align-items: flex-start; */
	
	
}



 h1{
	color: var(--contrast_light);
	font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size:30px;
  font-weight: 600;
  font-style: normal;

	}





/*--------------THis is the menu bar----------------  */
nav{
	background-color: var(--main_light);
	
	overflow: hidden;

	
}

nav>ul{
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	
}

nav>ul>li{
	list-style: none;
	font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size:15px;
    font-weight: 500;
    font-style: normal;
    
  
}


nav>ul>li>a{
	text-decoration: none;
	color:var(--main_color);
	padding:10px 30px;
	display: inline-block;

}


nav a:hover{
	background-color: var(--contrast_color);
	color:var(--contrast_dark);
	transition-duration:0.3s;
	height: 100%;
/* 	padding: 10px 50px ; */
	
	
}

/*  THIS IS A FOOTER------------------------------*/



footer{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	
	background-color: var(--contrast_dark);
	
/* 	margin-top:10px; */
	
}

footer li{
	list-style: none;
}

footer li a{
	text-decoration: none;
	color: var(--contrast_light);
	display:inline-block;
	width:200px;
	
	padding:10px;
	margin:1px;
	border-radius: 10px;
	text-align: center;
	
}


.footer_left{
	width:33.33%;
	
}

.footer_center{
	width:33.33%;
	
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	
}


.footer_right{
	width:33.33%;
	
	display:flex;
	
	justify-content: flex-end;
	align-items: flex-start;
	
}

footer a:hover{
	color: var(--main_color);
	background-color: var(--main_light);
	transition-duration:0.3s;
}






















