@charset "ISO-8859-1";



main{
	background-color: var(--contrast_light);
	box-sizing: border-box;
/* 	padding:10px; */
/* 	padding-bottom: 0px; */
	padding-top:10px;
}
.wrong_password_message{
	background-color: var(--warning_background);
	margin:auto;
	margin-top:10px;
	padding:10px;
	width:100%;
	border:2px solid var(--warning_light);
	text-align: center;
}

.delete_success_message{
	background-color: var(--success_background);
	margin:auto;
	margin-top:10px;
	padding:10px;
	width:100%;
	border:1px solid green;
	text-align: center;
}

/*  IF sign up is failed   */
.sign_up_message{
	
		font-family: "Montserrat", sans-serif;
	  font-optical-sizing: auto;
	  font-size:15px;
	  font-weight: 600;
	  font-style: normal;
	
	background-color: var(--success_background);
	color:var(--blue_dark);
	margin:auto;
	margin-top:10px;
	padding:10px;
	width:100%;
	border:1px solid green;
	text-align: center;
}

.delete_success_message{
	background-color: var(--success_background);
	color:var(--blue_dark);
	margin:auto;
	margin-top:10px;
	padding:10px;
	width:100%;
	border:1px solid green;
	text-align: center;
	
	font-family: "Montserrat", sans-serif;
	  font-optical-sizing: auto;
	  font-size:15px;
	  font-weight: 600;
	  font-style: normal;
	
}





/*THIS IS FOR THE HEADER Above THE LOG IN form */
.form_header{
	box-sizing:border-box;
	background-color: var(--contrast_color);
	width:300px;
	
	margin:auto;
/* 	margin-left: 25px; */
	margin-top:20px;
	padding-top:12px;
	padding-bottom:6px;
	text-align: center;
	
	
	border-top-left-radius:20px; 
	border-top-right-radius:20px;
	
	}


.form_header h3{
	  display:inline-block;
	  font-family: "Montserrat", sans-serif;
	  font-optical-sizing: auto;
	  font-size:18px;
	  font-weight: 650;
	  font-style: normal;
	  color:var(--contrast_dark);
	  
}





/*  THIS IS THE CLASS OF MAIN FORM BOX--------------------------------------------------------------------------------------*/
.form_area{
	
	box-sizing:border-box;
	box-shadow:0 4px 12px rgba(0,0,0,0.15);
	background-color: var(--main_light);
	width:300px;
	height: calc(154px + 22.4px + 84px + 40px + 44px);
	margin:auto;
	padding:10px 10px;
	border-radius: 5px;
	padding-top:40px;
	
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	overflow:hidden;
	
	
	}

/*  THIS IS THE HTML FORM TAG--------------------------------------------------------------------------------------*/
	
form{
	box-sizing:border-box;
	text-align: center;
}	



.form_area input[type=text] {
	padding: 3px 6px 2px 6px;
	width : 200px;
	height:30px;
	
	font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size:15px;
    font-weight: 500;
    font-style: normal;
}	

.form_area input[type=password] {
	padding: 3px 6px 2px 6px;
	width : 200px;
	height:30px;
	
	font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size:15px;
    font-weight: 500;
    font-style: normal;
}

.form_area input[type=submit] {
	
	width : 215.2px;
	height:40px;
	background-color: var(--main_color);
	color: var(--contrast_light);
	border-radius: 50px;
	cursor: pointer;
	
	font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size:14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.2px;
}

.form_area input[type=submit]:hover{
	background-color: var(--contrast_dark);
	transition-duration:0.4s;
}

.form_area hr{
	width:98.7%;
	margin: auto;
	border:2px solid var(--contrast_color);
	border-radius: 20px;
}


/*  THIS IS THE SIGN IN AS COMPANY BOX--------------------------------------------------------------------------------------*/

.sign_in_company{
	box-sizing:border-box;
	text-align: center;
	background-color: var(--contrast_light);
	padding-top:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}

.sign_in_company label{
	display:block;
	letter-spacing: 0.3px;
	font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size:15px;
    font-weight: 400;
    font-style: normal;
	
	width:20px;
	margin:auto;
	margin-top:10px;
	margin-bottom: 8px;
	
}

.sign_in_company a{
	text-decoration: none;
}
.sign_in_company button{
	width : 215.2px;
	height:40px;
	background-color: var(--main_color);
	color: var(--contrast_light);
	border-radius: 50px;
	cursor: pointer;
	
	font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size:14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.2px;
}

.sign_in_company button:hover{
	background-color: var(--contrast_dark);
	transition-duration:0.4s;
	}
	
	
	
	
	
	
.sign_up {
	box-sizing:border-box;
	background-color: var(--main_light);
	box-shadow:0 4px 12px rgba(0,0,0,0.15);
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top:65px;
}	

.sign_up a{
	text-decoration:none;
		
}


.sign_up_employee{
	box-sizing:border-box;
	width:50%;
	text-align: center;
	padding:20px;
	
}	

			.sign_up_employee h4{
				color:var(--blue_dark);
			}

			.sign_up_employee button{
				width : 215.2px;
				height:40px;
				background-color: var(--contrast_light);
				color: var(--contrast_dark);
				border-radius: 4px;
				cursor: pointer;
				margin:20px;
				
				font-family: "Montserrat", sans-serif;
			    font-optical-sizing: auto;
			    font-size:15px;
			    font-weight: 500;
			    font-style: normal;
			    letter-spacing: 0.2px;
			}
				
				.sign_up_employee button:hover{
					background-color: var(--main_color);
					color: var(--contrast_light);
					transition-duration:0.4s;
					}
			
			



.sign_up_company{
	box-sizing:border-box;
	width:50%;
	text-align: center;
	padding:20px;
}

			.sign_up_company h4{
				color:var(--blue_dark);
			}
			
			
			.sign_up_company button{
				width : 215.2px;
				height:40px;
				background-color: var(--contrast_light);
				color: var(--contrast_dark);
				border-radius: 4px;
				cursor: pointer;
				margin:20px;
				
				font-family: "Montserrat", sans-serif;
			    font-optical-sizing: auto;
			    font-size:15px;
			    font-weight: 500;
			    font-style: normal;
			    letter-spacing: 0.2px;
			}
			
				.sign_up_company button:hover{
					background-color: var(--main_color);
					color: var(--contrast_light);
					transition-duration:0.4s;
					
					}

		




	
	
	
	
